.cart-dropdown {
	position: absolute;
	width: 230px;
	height: 275px;
	flex-direction: column;
	padding: 20px;
	border: 1px solid $main-color;
	background-color: #ffffff;
	top: 80px;
	right: 0;
	z-index: 5;
	.cart-items {
		height: 245px;
		display: flex;
		flex-direction: column;
		overflow-y: hidden;
	}
	button {
		margin-top: auto;
	}
}
